<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome to ExpressTest</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
     
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="" th:src=@{images/icon.svg} class="bi me-2" width="40" height="32"/>
            <span class="fs-4"><strong>ExpressTest</strong></span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="" th:href=@{homepage} class="nav-link" >Home</a></li>
            <li class="nav-item"><a href="" th:href=@{order} class="nav-link" >Orders</a></li>
            <li class="nav-item"><a href="" th:href=@{test} class="nav-link active" aria-current="page">Tests</a></li>
            <li class="nav-item"><a href="" th:href=@{about} class="nav-link">About</a></li>
          </ul>
        </header>
      </div>
      <h3 class="container" th:text="'Welcome, '+${user.first_name}+' '+${user.last_name}">Start Booking Your Test</h3>
      <form class="container" th:action="@{/getTested}" method="post" th:object="${user}" >
        <div class="form-group">



        <div class="form-group">
          <label for="exampleFormControlSelect1">Select Lab</label>
          <select name="lab_name" class="form-select" id="lab_name"/>
            <option>Select..Lab</option>
            <option>Lab-1</option>
            <option>Lab-2</option>
            <option>Lab-3</option>
            <option>Lab-4</option>
            <option>Lab-5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Select Test</label>
          <select name="test_name" class="form-select" id="test_name"/>
            <option>Select..Test</option>
            <option>test-1</option>
            <option>test-2</option>
            <option>test-3</option>
            <option>test-4</option>
            <option>test-5</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Processing Time</label>
          <select name="processing_time" class="form-select" id="processing_time"/>
            <option>Select..Delivery Option</option>
            <option>Regular - 7 Days</option>
            <option>ExpressPass - 3 Days</option>
          </select>
        </div>
        
        <div class="mb-3">
          <label for="formFileMultiple" class="form-label">Upload your Prescription</label>
          <input class="form-control" type="file" id="formFileMultiple" multiple>
        </div>

        <div class="form-group">
          <input class="form-control" type="hidden" name="patients" th:value="${user.patient_id}" id="user_id"  >
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>

        <div class="form-group">
          <label for="exampleFormControlSelect1">Processing Time</label>
          <input type="date" name="order_date" class="form-control" id="processing_time">
        </div>
        

        <button class="w-100 btn btn-primary btn-lg mt-5" type="submit">Get Tested</button>
        
      </form>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
       integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
       
</body>
</html>